[user]
  email = sheldon.kwok@geniussports.com
  name = Sheldon Kwok

[core]
  editor = nvim
  pager = delta

[push]
  autoSetupRemote = true

[fetch]
  prune = true

[diff]
  tool = difftastic
  colorMoved = default

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

[init]
	defaultBranch = main

[pull]
  ff = only

[url "git@git.2nd.io"]
  insteadOf = ssi

[url "git@git.2nd.io:"]
  insteadOf = https://git.2nd.io/

[alias]
  ph = push
  pht = push --tags
  phf = push --force-with-lease
  phsuo = !"git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
  pl = pull
  plr = pull --rebase
  c = commit
  ca = commit --amend
  canv = commit --amend -nv
  cnv = commit -nv
  co = checkout
  cob = checkout -b
  rsho = !"git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)"
  rb = rebase
  rbm = rebase main
  rba = rebase --abort
  rbi = rebase --interactive 
  rbim = rebase --interactive main
  rbc = rebase --continue
  rbs = rebase --skip
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|develop' | xargs -n 1 git branch -d"
  edit-prune = !"git branch --merged | grep -Ev '\\*|main|develop' >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches"
  ssic = "!git clone git@git.2nd.io:$1"
  dft = difftool
